doctype html
html(lang="en")
  head
    title Simple Vue TypeScript Babel template
    meta(http-equiv="x-ua-compatible" content="ie=edge")
  body
    #app

    ul(block="list")
      li(elem="item" mods="big") Big
      li(elem="item" mods="small") Small
