<!doctype html>
<html lang="en">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but simple-todo-list doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>
